.Body {
    height: 800px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Body .Input {
    padding: 1rem;
    flex: 1;
}

.Body .Output {
    padding: 1rem;
    flex: 1;
}

.output-space {
    margin-top: 63px;
}