.Header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cadetblue;
    height: 60px;
}

.Header .Title {
    max-width: 50%;
    color: white;
}

.logo {
    height: 60px;
}